/*
CSS JavaScript Open/Close Menu 1 of 3
Be sure to see the associated .html file for more!

JavaScript will provide ability for 
user to toggle with clicking the menu button
between these two states:
	<nav class="show">
		and
	<nav>
adding/removing the class to the nav tag
*/
.show { 
	/* show it*/
    visibility: visible;    
    /* increase height from zerop to needed height */
    height: 200px;  
}

/*
----------------------------
HTML element selectors
----------------------------
*/
/*  
CSS JavaScript Open/Close Menu 2 of 3
nav{ }
remove from page flow with
	display:none;
this will be for the mobile viewport
eg: dont display the entire menu when there isnt enough space
*/
nav { 
	width: 100%;
    /*
    hide the nav links by default
    in order to animate the show/hide effect
    instead of display:none; use     
        height: 0;
        overflow: hidden;
        visibility: hidden;
    to hide the vector menu
    */    
    visibility: hidden;
    /*
    since visibility:hidden 
    does not remoev elemnt from flow, 
    do so another way...
    */
    height: 0;  /*clip height o zero*/
    overflow: hidden; 

    /*
    when visibility changes, 
    we can animate the effect
    with transitions
    */
    transition: all 0.3s ease;
}
