/* ------ Browser Resets ------ */
@import url("menu.css");

/*
---------------------------
HTML selectors
---------------------------
*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0px;    
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
header{
    margin: 0px;
}
main {
    flex: 1;
}

a{
    color: #000;
    text-decoration: none;
}
ul{
    list-style-type: none;
}

/* ------ Variables ------ */
:root{     
    /* fonts */
    --heading-font-face:"leaguespartan-bold-webfont";
    --block-text-font-face:"fira_sansregular";

    /* spacing/layout */
    --content-gap:10px;

    /* colors */
    --color1: chocolate;
    --color2: #7C7A7D;
    --color3: #7A7088;
    --color4: #5A4B4D;
    --color5: #050303;
    --color6: #53322D;
    --color7: chocolate;
}
img {
    max-width: 100%;
    height: auto;
}

h2:not(header h2){
    text-align: center;
    padding: 10px;
    background-color: var(--color1);
    color: white;
}
blockquote{
    border-left: 5px solid #795548;
    color: #795548;
    margin: 20px 0;
    padding-left: 1.5rem;
}
/* 
------------------------------
HTML Classes 
------------------------------
*/

/* header navigation styles */
.btn-menu {
	display: block;
	background-color: transparent;
	border: none;
	font-size: 1.3rem;
	text-transform: uppercase;
	cursor: pointer;
	padding-right: 12px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color1);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.nav-link {
	display: block;
	line-height: 40px;
	text-align: center;
	color:#000;
	font-weight:100;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
/*    border-left: solid 1px;
    border-right: solid 1px; */
    background-color: #ddd;
}

.name-and-title{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}
.name-and-title h1{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: var(--color1);
}
.name-and-title h2{
    margin: 0;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
}
.social-a{
	/* remove underline*/
	text-decoration: none;
	/* an inline-block hybrid! */
	display:inline-block;

	/* dont repeat the background */
	background-repeat: no-repeat;
	/*  svg image should show small */
	background-size: 20px;
	/*  make room to show the imaeg before the a tag text 
	padding-left:30px;*/

	margin:5px;
	color: var(--color1);
}
.email{
	background-image: url("../images/icons/icon-email.png");	
}
.linkedin{
	background-image: url("../images/icons/icon-linkedin.png");	
}
.github{
	background-image: url("../images/icons/icon-github.png");	
}


/* index.html */
.intro{
    height: 95vh;
    padding: 55px 15px;

    background-image: url(../images/me/param-harsh5.png);
    /* always fill space, never stretch or skew */
    background-size: cover;
    /* stay centered on the subject of the image   */
    background-position: center;
    color: white;
    text-shadow: 0 0 5px #000;

    /* control display of foreground text content*/
    font-size: 2.0rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;    
}
.intro .text-background{
    background-color: var(--color1);
}
.intro .text-decoration{
    border-bottom: 5px solid var(--color1);
}
.intro h1{
    max-width: 45%;
    font-weight: 100;
}

/* about.html */
.about{
    margin: 5px 5px;
    padding: 0px 15px;
}
.about blockquote{
    margin: 10px;
    line-height: 150%;
    font-weight: 400;
    font-size: 1rem;
}
.about p{
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 300;
    padding: 10px 20px;
}

/* experience.html */
.experience{
    margin:5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-experience-article p{
    margin: 2px;
    padding: 2px;
}
.work-experience-article{
    background-color: white;
    margin: 20px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    max-width: 820px;
}
.work-experience-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.04);
    border-bottom: solid;
    border-width: thin;
    border-color: lightgrey;
    padding: 15px;
}
.work-experience-description{
    padding: 15px;
    font-size: 0.9rem;
}
.work-experience-description h4{
    color: var(--color4);
    font-size: 1.3rem;
    font-weight: 400;
}
.work-experience-description li{
    list-style-type: disc;
}
.company-name{
    color: var(--color1);
}

/* projects.html, education.html grids together*/
.projects-grid, .education-grid{
    max-width: 1020px;
    margin: 0 auto;
    padding: 30px;

    /*
    simple grid for 
    one column stack
        minmax(250px, 1fr)
    min 250px width for each article
    otherwise articles will stretch to fill available space 1fr
    */
    display: grid;
    grid-template-columns: minmax(250px, 1fr);
    grid-gap: 30px;
}
.project-article {
    border: 1px solid rgba(0, 0, 0, 0.8);
    position: relative;
    background-color: white;
}
.project-article h3 {
    background-color: var(--color2);
    padding: 10px 0px;
    text-align: center;
}
.project-article p {
    padding: 0px 10px;
}
.project-article ul {
    list-style-type: disc;
}

/* education.html */
.education-article {
    padding: 30px;
    min-height: 400px;
}
.education-article h3 {
    padding: 10px;
    border: solid;
    border-width: thin;
}
.education-article-place-time {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 600;
    padding: 0px 10px;
}
.education-article li {
    list-style-type: disc;
    font-weight: 600;
    padding-bottom: 20px;
}
.education-article-bgcolor {
    background-color: rgba(255,255,255,.75);
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.bcit {
    background-image: url("../images/background/bcit.jpg");
    background-size: cover;
}
.sfu {
    background-image: url("../images/background/sfu.jpg");
    background-size: cover;
}
.ptu {
    background-image: url("../images/background/ptu.jpg");
    background-size: cover;
}


/*
-----------------------------------------
ID Selectors
-----------------------------------------
*/
#nav-bar{
	/* use flexbox to get block tags side by side  */
	display: flex;
	justify-content: space-between;
}
#nav-ul{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;	
}
#social-ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*
use the #wrapper for page-wide control
eg: to restrict max width

#wrapper camn also be a flex box to make sticky footer effect
*/
#wrapper{
    background-image: url("../images/background/background1.avif");
	/* dont be too wide */
	max-width:1960px;
	/* center page in wide viewports */
	margin:auto;

	/*  make flexbox container*/
	display: flex;
    flex-direction: column;

	/*  min fill all vertical viewport space */
	min-height: 100vh;	
}


/* 
-----------------------------------------
Media Queries 
-----------------------------------------
*/
/*
in wider viewports
dont show the menu button
when the entire menu is being shown
*/

@media (max-width: 600px){
    .education-grid{
        padding: 5px;
    }
    .education-article {
        padding: 5px;
    }
    .education-article h3 {
        font-weight: 400;
        padding: 2px;
    }
    .education-article-place-time {
        font-weight: 100;
        padding: 0px 10px;
    }
    .education-article-place-time p{
        margin: 5px;
        
    }
    .education-article li {
        font-weight: 100;
    }
}

@media (min-width: 650px){
    /*
    convert grid to 2 columns 
    */
    .projects-grid{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        padding: 30px;
        grid-gap: 50px;
    }
}

@media (min-width:500px){
    .about{
        margin: 20px;
        padding: 10px 30px;
    }
    .about blockquote{
        margin: 10px 100px;
        line-height: 150%;
        font-weight: 600;
        font-size: 1.2rem;
    }
    .about p{
        font-size: 1.1rem;
        line-height: 1.8rem;
        font-weight: 400;
        padding: 10px 100px;
    } 
}
/*
@media (min-width:950px){
    html{
        font-size: 2.0rem;
    }
}
*/

@media (min-width:750px){
	/*
	CSS JavaScript Open/Close Menu 3 of 3

	in wide viewports
	dont show the menu button
	when the entire menu is being shown
	*/
	.btn-menu {
		display: none;
	}
	/*
	instead, show the entire nav menu
	*/
	nav {
		display: block;
	}	
	/* put nav links beside the company name */
	header{
		/* comapny name beside nav */
		display: flex;
		/* align items along the main axis */
		justify-content: space-between;
		/* align items along the cross axis */
		align-items: center;
        padding: 0px 25px;
	}
	/*
	let the nav ULs list item children
	be flex items, so they will sit
	side by side for horizontal nav
	*/
	#nav-ul{
		display:flex;
	}
	/*
	adjust nav link spacing
	*/
	.nav-li a{
		padding:15px 15px;
	}	
}	


@media (min-width:520px) {
    /* on the main page, limit the image in 
    the special-feature class */
    .intro{
        padding: 55px 75px;
    }

    /* put work experience company name and date in flex box */
    .work-experience-header {
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.2rem;
    }
    .work-experience-description {
        font-size: 1.1rem;
    }
    
}