/* ------ Browser Resets ------ */
@import url("style_with_meyer_reset.css");
@import url("menu.css");

/*
---------------------------
HTML selectors
---------------------------
*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0px;    
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
header{
    margin: 0px;

}

a{
    color: #000;
    text-decoration: none;
}
ul{
    list-style-type: none;
}

/* ------ Variables ------ */
:root{     
    /* fonts */
    --heading-font-face:"leaguespartan-bold-webfont";
    --block-text-font-face:"fira_sansregular";

    /* spacing/layout */
    --content-gap:10px;

    /* colors */
    --color1: #cc481f;
    --color2: #7C7A7D;
    --color3: #7A7088;
    --color4: #5A4B4D;
    --color5: #050303;
    --color6: #53322D;
}
img {
    max-width: 100%;
    height: auto;
}

footer h2{
    text-align: center;
    padding: 10px;
    background-color: var(--color1);
    color: white;
}


/* */


/* 
------------------------------
HTML Classes 
------------------------------
*/

/* header navigation styles */
.btn-menu {
	display: block;
	background-color: transparent;
	border: none;
	font-size: 1.3rem;
	text-transform: uppercase;
	cursor: pointer;
	padding-right: 12px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color1);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#nav-bar{
	/* use flexbox to get block tags side by side  */
	display: flex;
	justify-content: space-between;
}
.nav-link {
	display: block;
	line-height: 40px;
	text-align: center;
	color:#000;
	font-weight:100;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
/*    border-left: solid 1px;
    border-right: solid 1px; */
    background-color: #ddd;
}

.name-and-title{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}
.name-and-title h1{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: var(--color1);
}
.name-and-title h2{
    margin: 0;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
}



.intro{
    height: 95vh;
    padding: 55px 15px;

    background-image: url(../images/me/param-harsh5.png);
    /* always fill space, never stretch or skew */
    background-size: cover;
    /* stay centered on the subject of the image   */
    background-position: center;
    color: white;
    text-shadow: 0 0 5px #000;

    /* control display of foreground text content*/
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;    
}
.intro .text-background{
    background-color: var(--color1);
}
.intro .text-decoration{
    border-bottom: 5px solid var(--color1);
}

.intro h1{
    max-width: 50%;
    font-weight: 100;
}

.social-a{
	/* remove underline*/
	text-decoration: none;
	/* an inline-block hybrid! */
	display:inline-block;

	/* dont repeat the background */
	background-repeat: no-repeat;
	/*  svg image should show small */
	background-size: 20px;
	/*  make room to show the imaeg before the a tag text 
	padding-left:30px;*/

	margin:5px;
	color: var(--color1);
}
.email{
	background-image: url("../images/icons/icon-email.png");	
}
.linkedin{
	background-image: url("../images/icons/icon-linkedin.png");	
}
.github{
	background-image: url("../images/icons/icon-github.png");	
}

/*
-----------------------------------------
ID Selectors
-----------------------------------------
*/
#nav-ul{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;	
}
#social-ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*
use the #wrapper for page-wide control
eg: to restrict max width

#wrapper camn also be a flex box to make sticky footer effect
*/
#wrapper{
    background-image: url("../images/background/background1.avif");
	/* dont be too wide */
	max-width:1920px;
	/* center page in wide viewports */
	margin:auto;

	/*  make flexbox container*/
	display: flex;
    flex-direction: column;

	/*  min fill all vertical viewport space */
	min-height: 100vh;	
}


/* 
-----------------------------------------
Media Queries 
-----------------------------------------
*/
/*
in wider viewports
dont show the menu button
when the entire menu is being shown
*/
@media (min-width:750px){
	/*
	CSS JavaScript Open/Close Menu 3 of 3

	in wide viewports
	dont show the menu button
	when the entire menu is being shown
	*/
	.btn-menu {
		display: none;
	}
	/*
	instead, show the entire nav menu
	*/
	nav {
		display: block;
	}	
	/* put nav links beside the company name */
	header{
		/* comapny name beside nav */
		display: flex;
		/* align items along the main axis */
		justify-content: space-between;
		/* align items along the cross axis */
		align-items: center;
        padding: 0px 25px;
	}
	/*
	let the nav ULs list item children
	be flex items, so they will sit
	side by side for horizontal nav
	*/
	#nav-ul{
		display:flex;
	}
	/*
	adjust nav link spacing
	*/
	.nav-li a{
		padding:15px 15px;
	}	
}	


@media (min-width:520px) {
    /* on the main page, limit the image in 
    the special-feature class */
    .intro{
        padding: 55px 75px;
    }
    
}